[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[user]
	name = Daniel Richter
	email = me@danielrichter.codes
[alias]
	l = log --oneline
	c = commit -asm
	p = push
	s = status‚
	cam = commit --amend -CHEAD .
	wipe = restore .
 	undo = reset HEAD^
[pull]
	rebase = true
